body{
    background-image: linear-gradient(to right,#F6E3FC,#FFF6FE,#F8E4FA);
}
nav{
    background-color: #F8E4FA;
    padding: 10px;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline;
    padding-right: 20px;
}
nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #A68CF2;
}
nav ul li a:hover{
    color: #9678ee;
}
#welcome{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.paragraphs,.images{
    width: 50%;
    padding: 10px;
}
.bigest{
    font-weight: bold;
    color: #9678ee;
    font-size: 25px;
}
#comments .card{
    width: 320px;
    background-color: inherit;
    padding: 5px;
    color: #9678ee;
}
#comments{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0px 50px 0px;
}
.cardnames{
    text-align: center;
    padding: 5px;
}
.cardnames::after{
    content: "-----";
    color: orangered;

}
.cardnames::before{
    content: "-----";
    color: orangered;
    
}
#card:hover{
  background-color: #9678ee;
  color: #ffffff;
}
#aboutus{
    padding: 50px 20px 50px 20px;
}
.tittles{
    color: #9678ee;
}
#username,#usernames,#usermail,#messages,#messagess{
    width: 300px;
}
#messages{
    height: 150px;
}
#forms{
    width: 300px;
    margin: auto;
}
.answer{
    background-color: rgb(238, 238, 238);
    padding: 8px;display: none;
    border-radius: 8px;
}
.question{
    color: #9678ee;
    padding: 5px;
    cursor: pointer;
}
#pizzaTypes{
    color: #9678ee;
}
#slideitems{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
}
.prices{
    display: flex;
    justify-content: space-between;
    color: gray;
}
#pricecard1,#pricecard8,#pricecard2,#pricecard3,#pricecard4,#pricecard5,#pricecard5,#pricecard6,#pricecard7{
    width: 270px;
    padding: 8px;
}
.card img{
    border-radius: 8px;
}
#buypizza{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
}
#shoppingcart{
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}