body{
    background-image: linear-gradient(to right,#F6E3FC,#FFF6FE,#F8E4FA);
}
nav{
    background-color: #F8E4FA;
    padding: 10px;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline;
    padding-right: 20px;
}
nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #A68CF2;
}
nav ul li a:hover{
    color: #9678ee;
}
#welcome{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.paragraphs,.images{
    width: 50%;
    padding: 10px;
}
.bigest{
    font-weight: bold;
    color: #9678ee;
    font-size: 25px;
}
#comments .card{
    width: 320px;
    background-color: inherit;
    padding: 5px;
}
#comments{
    display: flex;
    justify-content: space-between;
}